@model _20251118_ToDoApp_1.Models.Todo

<h2> Create Todo</h2>

<form method="post">
    <lable>Title</lable>
    <input type ="text" name="Title" required />

    <button type ="submit">Add</button>
</form>